
<% if user_signed_in? %>

    <section class="row index">

        <h1>Listing albums</h1>

        <ul class="large-block-grid-5" id="pictures">
            <% @albums.each do |gallery| %>
                <li>
                    <div><%= link_to((image_tag gallery.cover_url(:thumb), :class => "th"), gallery) %></div>
                    <%# if can? :update, gallery %>
                        <div>
                            <%= link_to 'Show', gallery %> |
                            <%= link_to 'Edit', edit_album_path(gallery) %> |
                            <%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </div>
                    <%# end %>
                </li>
            <% end %>
        </ul>

        <%= link_to 'New Album', new_album_path, :class => 'button' %>

    </section>

<% else %>
    
    <div class="welcome">
        <div class="banner">
            <hr>
            <h1>Sign up and create your gallery</h1>
            <h1>Ruby Version : <%= RUBY_VERSION %></h1>
            <h1>Rails Version : 4.0.0 </h1>
            <hr>
        </div>
    </div>

<% end %>