<div id="user_nav">
	<% if user_signed_in? %>
		<%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "button radius secondary" %> 
		<%= link_to 'Edit account', edit_user_registration_path, :class => "button radius secondary" %>
		<span class="loggedin">Signed in as <strong><%= current_user.email %></strong></span>
	<% else %>
		<%= link_to "Sign in", new_user_session_path, :class => "button radius secondary", :id => "login" %>
		<%= link_to "Sign up", new_user_registration_path, :class => "button radius success", :id => "register" %>
	<% end %>
</div>